.textfield {
  background-color: #fefefe;
  color: var(--main-color4);
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  border: 1px var(--main-color2);
  font-size: 14px;
  width: 100%;
  filter: brightness(1.0);
  &:hover {
    filter: brightness(1.2);
    transition: filter 100ms ease-in-out;
  }
}
