.connectButtonWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.25rem;
}

.walletError {
    position: relative;
    color: var(--red);
    font-size: 10px;
    text-align: center;
    margin-top: 0.25rem;
}


.or {
    margin: 0.5rem
}

.error {
    position: absolute;
    color: var(--red);
    font-size: 14px;
    text-align: left;
    margin-top: 0.25rem;
}

.accountWrapper {
    font-size: small;
}

.address {
    font-size: large;
    font-weight: bold;
}

.disconnectButton {
    border: none;
    background: transparent;
    color: #0066ff;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.disconnectButton:hover {
    color: #0099ff;
}
