.connectButtonWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.25rem;
}

.or {
    margin: 0.5rem
}

.error {
    color: var(--red);
    font-size: 14px;
    text-align: left;
    margin-top: 0.25rem;
}

.accountWrapper {
    font-size: small;
}

.address {
    font-size: large;
    font-weight: bold;
}

